---
---
{% include Top-menu.html title="Activities" %}
<div id="content"> 

<div class="right">
<h2>What Does PWMU Do to support Missionaries?</h2>
<br>
<br>

<p>Branches</p>
<p>	- draw members from Presbyterian churches around Victoria</p>
<p>	- organise activities to raise funds</p>
<p>	- keep direct contact with missionaries by letter or email where possible</p>
<p>	- receive monthly news via the PWMU Newsletter</p>
<p>	- foster interest in and support for missionaries within their congregations</p>
<br>
<p>Publications</p>
<p>	- PWMU Newsletter</p>
<p>	- The <i><a href="Cookbook.html">PWMU Cookbook</a></i> &amp; its History (<i>From Suet to Saffron</i>)</p>
<p>	- <a href="CLGPDF-English-book.pdf">Free E-book</a><br><i>Charlotte Leonora Geddie The First Presbyterian Missionary Wife in the New Hebrides</i><br>by Rosemary Zurrer</p>
<p>	- Dayspring Children's Newsletter</p>
<br>
<p>Collections</p>
<p>	- Used Stamps</p>
<p>	- 5c Coins for Orbus</p>
<br>
<p>Events</p>
<p>	- Country Rally</p>
<p>	- Thanksgiving Rally</p>
<p>	- Annual General Meeting &amp; Missionary Reports</p>
<p>	- Dayspring Day for Children</p> 
</div>
{% include Left_Panel.html %}
{% include Bottom.html %}

