---
---
{% include Top_menu.html title="Activities" %}
<div id="content"> 

<div class="right">
<h2>What does PWMU do to support missionaries?</h2>
<p>&nbsp;</p>
<ul>
<li><h3>Branches</h3></li>
	<ul>
	<li> draw members from Presbyterian churches around Victoria</li>
	<li> organise activities to raise funds</li>
	<li> keep direct contact with missionaries by letter or email where possible</li>
	<li> receive monthly news via the PWMU Newsletter</li>
	<li> foster interest in and support for missionaries within their congregations</li>
	</ul>
<p>&nbsp;</p>
<li><h3>Publications</h3></li>
	<ul>
	<li> PWMU Newsletter</li>
	<li> The <i><a href="Cookbook.html">PWMU Cookbook</a></i></li>
	<li>...And The History (<i>From Suet to Saffron</i>)</li>
	<li> <a href="CLGPDF-English-book.pdf">Free E-book</a> by Rosemary Zurrer
	<p><i>Charlotte Leonora Geddie The First Presbyterian Missionary Wife in the New Hebrides</i></p></li>
	<li> Dayspring Children's Newsletter</li>
	<li> Annual Devotional Booklet</li>
	<li> Book of Remembrance</li>
	</ul>
<p>&nbsp;</p>
<li><h3>Collections</h3></li>
	<ul>
	<li> Used Stamps</li>
	<li> 5c Coins for Orbus</li>
<p>&nbsp;</p>
<li><h3>Events</h3></li>
	<ul>
	<li> Country Rally</li>
	<li> Thanksgiving Rally</li>
	<li> Annual General Meeting &amp; Missionary Reports</li>
	<li> Dayspring Day for Children</li>
	</ul>
</ul>
</div>
{% include Left_Panel.html %}
{% include Bottom.html %}