---
---
{% include Top_menu.html title="Contact Us" %}
<div id="content"> 

<div class="right">

<h2>PWMU COUNCIL MEMBERS AND CONVENERS 2015-16</h2>

<table>

	<tr>
		<td>
			<b>CROCKER Miss Robyn</b><br>
			1 Neerim St, Drouin 3818<br>
			Ph:5625 2139<br>
			Email: rcrocker@dcsi.net.au
		</td>
		<td>
			<b>Treasurer<br>
			APWM representative</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>FLEMING Rosalie</b><br>
			1700 Foxhow Road, Camperdown 3260<br>
			Ph: 5594 8231  M: 0428 832 409<br>
			Email: trfdunvegan@gmail.com
		</td>
		<td>
			<b>Minute Secretary<br>
			Membership and Lones</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>GARNER Susan</b><br>
			13 Hurlingham St, Brighton East 3187<br>
			Ph: 9530 8805 M: 0414 821 391<br>
			Email: sue.m.garner@gmail.com
		</td>
		<td>
			<b>Corresponding Secretary</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>VANDENBERG Mrs Pam</b><br>
			13 Mercer Terrace Teesdale 3328<br>
			Ph: 5281 5103<br>
			Email: wilmela@bigpond.com
		</td>
		<td>
			<p><b>Council Member</b>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<b>VAYNE Mrs Esther</b><br>
			5/403 Humffray St Nth, Brown Hill 3350<br>
			M: 0423 147 698<br>
			Email: evaynee@gmail.com
		</td>
		<td>
			<b>President<br>
			Newsletter</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>VINES Mrs Suzy</b><br>
			81 Edwardes Rd Reservoir 3073<br>
			Ph: 9460 9051 M: 0403 316 977<br>
			Email: vinesys@gmail.com
		</td>
		<td>
			<p><b>Council Member</b>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<b>ZURRER Mrs Rosemary</b><br>
			18 Witton St Longwarry 3816<br>
			Ph: 5629 9526<br>
			Email: rosellenz@dsci.net.au
		</td>
		<td>
			<p><b>Council Member</b>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p><br/>
			</p>
		</td>
		<td>
			<p><br/>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<b>Off Council:</b>
		</td>
		<td>
			<p><br/>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<b>CONRADI Margaret</b><br>
 			44 Patricia St, East Keilor 3033<br>
			Ph: 9337 6772<br>
			dwconradi@ozemail.com
		</td>
		<td>
			<b>Presbyterian &amp;<br> Scots Joint Mission</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>MILNE Mrs Joan</b><br>
			49 Worthing Avenue, Burwood East 3151<br>
			Ph: 9886 7670   M: 0407 313 894<br>
			jmilne@netspace.net.au
		</td>
		<td>
			<b>Student Liaison</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>HENDERSON Mrs Marg</b><br>
			1 Dunwold Way, Vermont 3133<br>
			Ph: 9874 4113<br>
			jmh1062@tpg.com.au
		</td>
		<td>
			<b>PWMU Cookbook</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>ARCHER Shona</b><br>
			3163 Healesville Koo-wee Rup Rd,<br>
			Woori Yallock 3139<br>
			Ph: 5964 7563<br>
			tsarcher99@gmail.com
		</td>
		<td>
			<b>Dayspring Day Co-ordinator</b>
		</td>
	</tr>
	<tr>
		<td>
			<b>HOOD Cassie</b><br>
			3 Walker Street, The Basin 3154<br>
			Ph: 9761 2680<br>
			cassie@hoodfamily.org.au
		</td>
		<td>
			<b>Dayspring Day Co-ordinator</b>
		</td>
	</tr>
</table>
</div>
{% include Left_Panel.html %}
{% include Bottom.html %}