---
title: Events
---
{%include Top-menu.html %}
<div class="right">

<p>PWMU was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
	
<p>PWMU membership is open to members and adherents of PCV congregations. Members are usually organised into branches operating under the authority of the Session of the local congregation.</p>
<br /><br />
<p>Events</p>
<p>	- Country Rally</p>
<p>	- Thanksgiving Rally</p>
<p>	- Annual General Meeting &amp; Missionary Reports</p>
<p>	- Dayspring Day for Children</p> 
</div>
{%include Left_Panel.html %}
{%include Bottom.html %}