---
---
{% include Top-menu.html title="History" %}
<div id="content"> 

<div class="right">

<p>PWMU was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
<br>	
<H3>When exactly did PWMU begin?</H3>
<p>"Stimulated by the example of the Young Men's Fellowship Association, and the offer of 'Enquirer C.,' who promised &pound;50 if a society of Presbyterian women were formed to further Christ's cause amongst women, a number of ladies met at Toorak [Melbourne] on 29th July, 1890 and, after prayerful consideration, a committee was formed to establish such a Society. About this time Ballarat and Geelong moved in the same direction.</p>
<p>On the 25th August, 1890, delegates from these cities met with the Melbourne Committee, and the P.W.M.U. was formally inaugurated at a public meeting, over which the Moderator of the Assembly presided. It was resolved "to invite the women of each congregation throughout Victoria to form branch societies ... in connection with the Union." (After fifty years: a record of the work of the P.W.M.U. of Victoria / Elizabeth M. Campbell. Melb. : Spectator Publishing, 1940, p. 1-2)</p>
<br>
<H3>Why did PWMU begin? What were the influences at work?</H3>
<p>Amongst the worldwide Protestant Church, the "conviction had grown that women must take an active share if the [preaching of the Gospel to every creature] was to be done, and that they must organise themselves for the task." (Campbell 1940:2)</p>

<p>In 1889, the first Victorians, the Rev J Henry Davies and his sister, Mary, had gone to Korea, and Henry had died there after only a few months.</p>

<p>'Enquirer C.' had made her offer of &pound;50.</p>

<p>Miss May Reed, of the China Inland Mission, had given stirring addresses during her visit to Victoria.</p>

<p>Mr and Mrs Cain, missionaries in India, visited Geelong and brought thrilling stories of the needs of Indian women and opportunities for women workers.</p>

<p>Dr and Mrs John G Paton, missionaries in the New Hebrides (now Vanuatu) had visited Australia many times.</p>
<br>
<H3>Early progress of the PWMU</H3>

<p>"At the end of the first year 28 branches ... had been formed with 1500 members, and &pound;617 had been raised. Also four young women had offered for service in Korea." (Campbell 1940:8)</p>
<br>
<H3>Where did PWMU focus its attention?</H3>

<p>The women whom PWMU supported were engaged in hospitals, schools and vocational training especially for women and children.</p>

<p>For the first fifty years, PWMU main focus was on mission work in Korea through hospitals and schools. However, they did have a small share in outreach in India, the New Hebrides, Australian Aborigines, and in Victoria, among Chinese and Jewish women and children.</p>

<p>After World War Two, interest widened to South East Asia and the Pacific islands.</p>

<p>Not only did members support cross-cultural work among other ethnic groups, but soon became involved in supporting social service work amongst the needy in Victoria, such as Kildonan Children's Home, the Kilmany Boys farm, opportunity shops, frail aged care.</p>
<br>
<H3>How did PWMU support missionary work?</H3>

<p>Members organised offerings amongst their congregations and at meetings like Branch Birthdays, Thanksgiving. They organized such things as fetes, stalls and luncheons. New babies were enrolled in Baby Bands, girls were organized into Mission Bands to learn about missionary work and to make items for mission boxes. They collected used stamps for sale to dealers and Lanchoo labels to be redeemed in exchange for linen for the church's social service institutions.</p>

<p>PWMU published <a href="Cookbook.html">a Cookbook</a> which is still being published. They conducted Tearooms in Melbourne. They sold arts and crafts produced by Korean and Aboriginal women. They printed and sold greeting cards and notelets.</P>

<p>Fund-raising was one of the means of support. It was nurtured by a spiritual motivation which, in turn, was nurtured by prayer. And prayer is encouraged by information accomplished by the publication of missionary's letters in the monthly Missionary Chronicle.</p>



</div>
{% include Left_Panel.html %}
{% include Bottom.html %}
