---
---
{% include Top_menu.html title="PWMU Home"%}
<div id="content"> 

<p>Presbyterian Womens Missionary Union was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
<br>
<p>PWMU membership is open to members and adherents of PCV congregations. Members are usually organised into branches operating under the authority of the Session of the local congregation.</p>
<br>
<p>Members receive regular news about</p>
<p>	- missionaries supported and sponsored by the PCV</p>
<p>	- organisations where PCV missionaries are serving</p>
<p>	- PWMU activities across the State</p>
<br>

<h2>Office Details</h2>
<br>
<br>
{% include Left_Panel.html %}


<div style="clear: both;"> </div>

</div>
{% include Bottom.html %}
