---
---
{% include Top_menu.html title="PWMU Home"%}
<div id="content"> 

<p>Presbyterian Womens Missionary Union was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
<br>
<p>PWMU membership is open to members and adherents of PCV congregations. Members are usually organised into branches operating under the authority of the Session of the local congregation.</p>
<br>
<p>Members receive regular news about</p>
<p>	- missionaries supported and sponsored by the PCV</p>
<p>	- organisations where PCV missionaries are serving</p>
<p>	- PWMU activities across the State</p>
<br>

<h2>Office Details</h2>

<h3>The PWMU Office is located at:</h3>
<p>Suite 4 / 9b Salisbury Avenue</p>
<p>Blackburn, Victoria, 3130</p>
<p>(near Laburnum Station)</p>
<br>
<p><b>Office Manager:</b> Mr. John Angelico</p>
<p><b>Email:</b> pwmu@ozemail.com.au</p>
<p><b>Phone:</b> (03) 9877 1678</p>
<br>
<H3>Office Hours</H3>
<p>Tuesdays and Fridays from 9.30am - 2.00pm</p>
<p>except public holidays</p>
(closed mid December to mid January)</p>
 <br>
<h3>Postal Address:</h3> 
<p>PO Box 5148</p>
<p>Laburnum LPO</p>
<p>Blackburn VIC 3130</p>


<div style="clear: both;"> </div>

</div>
{% include Bottom.html %}
