---
---
{%include Top-menu.html title="Links to Missions" %}
<div id="content"> 

<div class="right">
<br>
<p>PWMU was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
	
<br /><br />


<p>Some of the organisations where PCV missionaries are serving (each link opens in a separate page)</p>
<br>

<table id="missions">
	<th>Organization</th>	
	<th>Locations</th>
	<tr>
		<td>
			<a href="http://www.apwm.org.au" target="_blank">APWM (Australian Presbyterian World Missions)</a>
		</td>
		<td>
			Cambodia, Vanuatu, Head Office Sydney
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.globalrecordings.net/en/au" target="_blank">Global Recordings Network Australia</a>
		</td>
		<td>
			Africa, Indigineous Communities
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.maf.org.au" target="_blank">Missionary Aviation Fellowship</a>
		</td>
		<td>
			Africa, Papua-New Guinea, Northern Australia
		</td>
	</tr>
	<tr>
		<td>
			<a href="https://www.navigators.org.au/" target="_blank">Navigators</a>
		</td>
		<td>
			Australia
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.pim.org.au/" target="_blank">PIM Presbyterian Inland Mission</a>
		</td>
		<td>
			Australian Outback Patrols, Central &amp; Northern Australia, Timor L'Este
		</td>
	</tr>	
	<tr>
		<td>
			<a href="http://www.pioneers.org.au" target="_blank">Pioneers</a>
		</td>
		<td>
			Africa, India, Eastern Europe
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.sim.org.au" target="_blank">SIM</a>
		</td>
		<td>
			Africa
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://www.wycliffe.org.au" target="_blank">Wycliffe Bible Translators / SIL</a>
		</td>
		<td>
			Africa, Papua-New Guinea, Australia, Pacific Islands
		</td>
	</tr>
</table>
{%include Left_Panel.html %}
{%include Bottom.html %}