---
title: Newsletter
---
{%include Top-menu.html %}
<div id="content"> 

<div class="right">

<p>PWMU was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
	
<p>PWMU membership is open to members and adherents of PCV congregations. Members are usually organised into branches operating under the authority of the Session of the local congregation.</p>
<br /><br />

<p>Members receive regular news about missionaries supported and sponsored by the PCV via their monthly newsletter, produced 11 times a year (excludes January)</p>
<br>
<p>The PWMU Newsletter reports on  
<p>	- news from missionaries, reprinted from their reports to the Council and regular prayer letters</p>
<p>	- general news from mission organisations</p>
<p>	- activities around the State to raise funds</p>
<p>	- reports from Council and its various Conveners</p>
<p>	- reports on general activities of Branches and Presbyterial Associations</p>
<br>
<p>PWMU also offers children within congregations the opportunity to support missions work via</p>
<p>	- Dayspring Children's Newsletter</p>
<p>which brings some of the news in the main newsletter to the attention of younger readers in a bright, colourful format three times a year.</p>
</div>
{%include Left_Panel.html %}
{%include Bottom.html %}