---
---
{% include Top_menu.html title="Publications" %}
<div id="content"> 

<div class="right">

<p>PWMU was founded in 1890 to encourage prayerful interest in, and support for, missionaries of the Presbyterian Church of Victoria (PCV).</p>
	
<br /><br />

<p>PWMU has published the following items available for sale:</p>
<p>	- The <i><a href="Cookbook.html">PWMU Cookbook</a></i>
<p>	- The History of the Cookbook from 1904 to 2012 titled <i>From Suet to Saffron</i></p>
<br>
<p>as well as offering a Free Download of the E-book</p>
<p>	- <a href="CLGPDF-English-book.pdf">Free E-book</a><br><i>Charlotte Leonora Geddie The First Presbyterian Missionary Wife in the New Hebrides</i><br>by Rosemary Zurrer</p>


</div>
{% include Left_Panel.html %}
{% include Bottom.html %}

