<div class="left">
<h2><font face="Verdana"><a href="#">Office Details</a></h2>

<br>
<p><b>Address:</b></p>
<p>Suite 4/9b Salisbury Avenue</p>
<p>Blackburn, Victoria, 3130</p>
<p>(near Laburnum Station)</p>
<p>Melway Map 47 H10</p>
<br>
<p><b>Phone:<br>(03) 9877 1678</p>
<br>
<p>Email:</p>
<p>pwmu@ozemail.com.au</p>
<br>
<p>Office Hours:<br>
Tuesdays &amp; Fridays<br>
9.30am - 2.00pm</p>
<p>except public holidays</b></p>
<p>(closed mid December to mid January)</p>
 <br>
<p><b>Postal Address:</b></p> 
<p>PO Box 5148</p>
<p>Laburnum LPO</p>
<p>Blackburn VIC 3130</p>
<br>
<p><b>Office Manager:</b></p>
<p>Mr. John Angelico</p>

</div>

<div style="clear: both;"> </div>

</div>