<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{include.title}}</title>
<meta name="language" content="English">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="style.css" media="screen">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss-articles/">
</head>
<body>

<div id="wrap"> 

<div id="header">
<img src="/images/PWMU_Logo.jpg" alt="PWMU">

<h1>PWMU Victoria</h1>
<h2>Supporting Victorian missionaries since 1890</h2>
</div>

<div id="top"> </div>

<div id="menu">
<ul>
<li>{% include a href="/index.html"%}Home</a></li>
<li>{% include a href="/Activities.html"%}What We Do</a></li>
<li>{% include a href="/Cookbook.html"%}PWMU Cookbook</a></li>
<li>{% include a href="/Organizations.html"%}Who We Support</a></li>
<li>{% include a href="/History.html"%}History</a></li>
</ul>
</div>
